@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-Thin.eot');
  src: url('../fonts/MuseoSansCyrl-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-Thin.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-Thin.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-Light.eot');
  src: url('../fonts/MuseoSansCyrl-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-Light.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-Light.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-Medium.eot');
  src: url('../fonts/MuseoSansCyrl-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-Medium.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-Medium.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-Bold.eot');
  src: url('../fonts/MuseoSansCyrl-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-Bold.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-Bold.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Regular'), local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: 400;
  font-display: swap;
}
